/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
	background: #353742;
	color: #888;
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4 {
	color: #648880;
}
h1 {
	font-size: 36px;
	line-height: 44px;
}
h2 {
	font-size: 40px;
	line-height: 60px;
	text-transform: uppercase;
}
h3 {
	font-size: 21px;
	color: #fff;
	border-bottom: 1px solid #fff;
	text-transform: capitalize;
}
h4 {
	font-size: 18px;
}
h5 {
	color: #a9b2b9;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	clear: both;
	*zoom: 1;
}

/*
  ========================================
  Header area
  ========================================
*/

.container {
	padding-left: 30px;
	padding-right: 30px;
	width: 950px;
	margin: 0 auto;
}
.row {
	background: gray;
	background: -webkit-linear-gradient(to right, #a0d6b4, gray, #a0d6b4);
	background: -moz-linear-gradient(to right, #a0d6b4, gray, #a0d6b4);
	background: linear-gradient(to right, #a0d6b4, gray, #a0d6b4);
	padding: 66px 0 44px 0;
	min-width: 950px;
}
.logo {
	margin-top: 50px;
}

/*
  ========================================
  Middle intro/lower section
  ========================================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.middle-sect {
	color: #fff;
	line-height: 44px;
	padding: 22px 80px 66px 80px;
	text-align: center;
}

.col-1-3 {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	padding-right: 15px;
}
.col-1-3 p {
	color: #fff;
}


/*
  ========================================
  Images
  ========================================
*/

.col-1-3 img {
	display: block;
	margin-bottom: 20px;
	max-width: 100%;
	max-height: 100%;
	height: 150px;
	width: 300px;
	border-radius: 5px;
}
.ryu {
	height: 144px;
	float: right;
}
/*
  ========================================
  Navigation/links
  ========================================
*/
.navigation {
	position: relative;
	margin: 0 -9999rem;
	padding: .65rem 9999rem;
	background: #666;
	background: rgba(0, 0, 0,.5);
}
.navigation ul {
  font: bold 13px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  background: rgba(0, 0, 0,.5);
  border-right: 1px solid rgba(255, 255, 255, .3);
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
.navigation a:hover {
  background: #a0d6b4;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a {
  border-radius: 1px 0 0 1px;
}
.navigation li:last-child a {
  border-right: 0;
  border-radius: 0 1px 1px 0;
}
.footerNav {
	text-align: right;
}
.footerNav a {
	color: #648880;
	text-decoration: none;
	padding-right: 10px;
}
.footerNav a:hover {
	color: #fff;
}

